.header {
    position: relative;
	&__container{
		padding: 0px 20px 0px 20px;	
	}
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

	background: #fff;
	// position: fixed;
	// width: 100%;

    max-height: 65px;
    height: 65px;

    &__logo {
        font-size: 22px;
        z-index: 100;
        text-decoration: none;
		text-transform: uppercase;
        color: $headercolor;

		display: flex;
		align-items: center;

        img {
			margin-right: 10px;
			max-width: 100%;
			width: auto;
            max-height: 100%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0;
        padding: 0;

        @media (max-width: 1377px) {
            display: none;

            &.active {
                position: absolute;
                left: 0;
                top: 0;
                background: #fff;
                width: 100%;
                height: 100vh;
                display: block;
                z-index: 90;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
		.btn{
			margin-bottom: 4px;
		}
    }

    &__item {
        list-style: none;
        margin: 0 25px;
		font-size: 16px;

        @media (max-width: 1377px) {
            margin: 14px 0;
            font-size: 22px;
        }

        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $accent;
        }
    }

    &__link {
        text-decoration: none;
        color: $textcolor;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }

    &__burger {
        display: none;
        cursor: pointer;
        padding: 20px 10px;
        z-index: 100;
		margin-right: 10px;

        %burger-lines {
            display: block;
            width: 30px;
            height: 4px;
            background: #000;
            border-radius: 10px;
            transition: all linear 0.3s;
        }

        span {
            @extend %burger-lines;

            &:before {
                content: "";
                @extend %burger-lines;
                transform: translateY(10px);
            }

            &:after {
                content: "";
                @extend %burger-lines;
                transform: translateY(-14px);
            }
        }

        &.active {
            span {
                background: none;

                &:before {
                    transform-origin: 50%;
                    transform: rotate(45deg);
                }

                &:after {
                    transform-origin: 35% 0;
                    transform: rotate(-45deg);
                }
            }
        }

        @media (max-width: 1377px) {
            display: block;
            position: static;
        }
    }
}
