.steps {
		&__container {}
		&__row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			@media (max-width: $b-lg) {
				grid-template-columns: 1fr;
			}
			align-items: center;
			justify-content: center;
			justify-items: center;
			gap: 40px 0;
		}
		&__item {
		}
		&__list {
			@media (max-width: $b-lg) {
				padding-left: 80px;
			}
		}
		&__number{
			font-size: 16px;
			line-height: 19px;
			color: #72787D;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			position: absolute;
			left: -55px;
			top: 14px;
			&::after{
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				border: 1px solid #DADEDF;
				position: absolute;
			}
		}
}
.list-steps{
	&__item{
		position: relative;
		display: flex;

	}
}