.care {
		&__container {}
		&__row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			@media (max-width: $b-md) {
				grid-template-columns: 1fr;
				gap: 80px 0;
			}
		}
		&__collumn {
			display: flex;
			flex-direction: column;
			@media (max-width: $b-md) {
				align-items: center;
				text-align: center;
			}
		}
		&__text {
			justify-content: center;
		}
		&__image {
			align-items: center;
			justify-content: center;
		}
}

