.clients {
		&__container {
			padding-top: 50px;
			padding-bottom: 50px;
			border-top: 1px solid #EEF2F3;
			border-bottom: 1px solid #EEF2F3;
		}
		&__row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			@media (max-width: 1010px) {
				grid-template-columns: 1fr 1fr;
			}
			justify-items: center;
			justify-content: center; 
			align-items: center;
			gap: 18px 20px;
		}
		&__item{
			display: flex;
			justify-content: center;
			align-items: center;
		}
}
