.delivery {
		&__container {}
		&__header {
			text-align: center;
			max-width: 640px;
			margin: 0 auto;
			margin-bottom: 55px;
		}
		&__body {}
		&__row {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			@media (max-width: $b-lg) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: $b-md) {
				grid-template-columns: repeat(1, 1fr);
			}
			gap: 30px 29px;
		}
		&__footer {
			text-align: center;
			margin-top: 20px;
			line-height: 32px;
		}
}
.item-delivery {
		display: flex;

		&__image {
			margin-right: 16px;
			img{
				min-width: 48px;
			}
		}
		&__text {}
}
